section{  
    background-color: rgb(204, 204, 204);
    width: 1200px;
    height: 580px;
    margin: 25px;
}
div{
    background-color: rgb(252, 253, 253);
    width: 600px;
    height: 550px;
    position: relative;
    top: 20px;
    left: 50px;
}
h1{
    background-color: rgb(220, 220, 220);
    width: 500px;
    left: 50px;
    text-align: center;
    position: relative;
    top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    position: relative;
    top: 10px;
    width: 500px;
    height: 500px;
    left: 50px;
    }
p{
    width: 400px;
    height: 500px;
    font-size: 20px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 530px;
    left: 700px;
}